streamlit>=1.16,<=1.18
pyyaml
numpy<1.24
pandas<=1.5
matplotlib<=3.6
plotly<=5.13
bokeh<=3.0.1
hvplot<=0.8.2
geopandas<0.13
networkx<=3
holoviews<1.16
panel<=0.14.3
geoviews<1.10
cartopy
pyproj
scipy
xarray<=2023.02.0
netcdf4